@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Nunito+Sans:wght@300;400&family=Playfair+Display&family=Poppins&family=Roboto&display=swap");

.navW {
  width: 100%;
    background: url('./footerbkgd.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height:200px;
    position:fixed;
    bottom:0;
  }
  footer div h4{
    margin-top:120px;
    color: #fff;
    font-size: 15px;
  }
.bNavT {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  color: black;
}
.bNavTM {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  color: black;
}
.sideDiv {
  background-color: burlywood;
  padding: 10px 10px 10px 10px black solid;
  margin-bottom: 0%;
  width: 40%;
}

.middleDiv {
  background-color: burlywood;
  /* border-radius: 50%; */
  border: 10px black;
  width: 20%;
}
.alignDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alignDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
